 body{
        background:url('https://static.tumblr.com/471e1d5d11fd4689bf90ac5804a10c5c/awzvpfw/BGqp5zb29/tumblr_static_8rx16kfmpds0soos00g084sg0.jpg');
        cursor:url("https://66.media.tumblr.com/bd3226ae0c509d6246ad28b54f8dbda9/tumblr_inline_phwhm1OjTa1rxehnw_500.png"), 
        auto !important;
        font-family:consolas;
        font-size:12px;
        color:black;
        }

p, b, i, u, a{ 
        background-color:transparent;
        }

a:hover{
  cursor:url("https://66.media.tumblr.com/fa69ce2639b7b5f39ab63d48af371129/tumblr_inline_ppekwjN7U71rxehnw_500.png"), 
          auto !important; 
        }
     
#hug{
        margin-top:70px;
        padding:15px;
        display:inline-block;
        border:1px solid gray;
        background: url('https://cdn.discordapp.com/attachments/534353986866774028/658778962838814720/gween.png');
        
        }

#lov{
        
        padding:10px;
        width:600px;
        height:500px;
        overflow-y:auto;
        border:1px solid gray;
        background:white;
        }

.hold{
           background:url('https://cdn.discordapp.com/attachments/534353986866774028/658779284068106256/tumblr_inline_mll0keW1Af1r53miq.gif');
           padding:5px;
           width:120px;
           border: 1px dashed gray;
        }

.sweetly{
         float:right;
         width:20%;
         padding:5px;
         background-color:white;
}

.happy{
         float:left;    
         width: 75%;
         padding:5px;
         background-color:white;
}
